body
{
color: black;
flex-direction: column;
justify-content: center;
margin: 0;

}

header
{
background-color: grey;
display: flex;
justify-content: space-around;
height: 6em;
align-items: center;
color: white;
}

.Juststream
{
font-size: x-large
}


#pictureBestMovie{
background-size: contain;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 2em;

}

#BestMovie{
position: absolute;
top: 270px;
left: 40px;
}


/*#btn1{
width: 130px;
background: #800000;
box-shadow: 0 0 2px black;
border-radius: 10px;
border-color: black;
position: absolute;
color:white;
top: 49%;
left: 10%;
transform: translate(-50%, -50%);
z-index: 9999;
padding: 10px;
text-align: center;

}*/

/*#popUpBox{
height: 38em;
overflow: hidden;
background: black;
box-shadow: 0 0 10px black;
box-sizing: content-box;
display: none;
color:white;
position: absolute;
top: 14%;
left: 3%;
right: 3.5%;
z-index: 9999;
padding:0;
}*/


.popUpBox{
height: 35em;
background: black;
display:none;
}

#PochetteFilm{
padding: 3em;
height: 13em;
width: 10em;
padding-top: 4.7em;
padding-left: 6em;
}


#NomFilm, #Categorie, #sortieFilm, #score, #realisateur, #acteurs,
#tempsFilm, #paysOrigine, #BoxOffice, #resume{
color : white;
padding: 1em;
}

.movieInfo{
text-align: left;
overflow: auto;
list-style:none;
}

#closeModal{
position: relative;
top: 500px;
height: 3em;
right: 70em;
}

#clsbtn{
width: 130px;
background: #800000;
box-shadow: 0 0 2px black;
border-color: black;
border-radius: 10px;
transform: translate(-50%, -50%);
z-index: 9999;
padding: 10px;
text-align: center;
color: white;
}



.BestmovieBox
{
background-color:white;
height: 20em;
border: 5px black solid;
border-bottom : hidden;
}


.BestNotemovies, .categorie1, .categorie2, .categorie3
{
height: 15em;
margin: -4px;
border: 5px black solid;
text-align: center;
z-index: 9999;

}

#filmBestnote, #Categorie1, #Categorie2, #Categorie3{
font-size : 22px;
}

#boxFilmMovies, #boxCatego1Movies, #boxCatego2Movies, #boxCatego3Movies{
display: flex;
justify-content: space-around;
align-items: center;
}


.BoxFilm{
border: 3px black solid;
height: 10em;
width: 7em;
text-align: center;
}

.BoxFilmtest{
border: 3px black solid;
height: 10em;
width: 7em;
overflow: hidden;
}

img{
height: 10em;
width: 7em;
}


.BtnD
{
background:white;
width: 1;
height: 1;
border-top: 25px solid transparent;
border-left: 50px solid ;
border-bottom: 25px solid transparent;
border-right: transparent;
padding: 1.5px;
}

.BtnG
{
background:white;
width: 1;
height: 1;
border-top: 25px solid transparent;
border-right: 50px solid ;
border-bottom: 25px solid transparent;
padding: 1.5px;
}

/*
#afficheFilm{
background-size: contain;
display: block;
margin-left: auto;
margin-right: auto;
}
*/

