body
{
color: black;
flex-direction: column;
justify-content: center;
margin: 0;

}

header
{
background-color: grey;
display: flex;
justify-content: space-around;
height: 6em;
align-items: center;
color: white;
}

.Juststream
{
font-size: x-large
}


#btn1{
width: 130px;
background: #800000;
box-shadow: 0 0 2px black;
border-radius: 10px;
border-color: black;
color:white;
transform: translate(-50%, -50%);
z-index: 9999;
padding: 10px;
text-align: center;
position:relative;
left:15em;
}



.popUpBox{
background: black;
width: 81em;
position : fixed;
top: 30px;
left: 4.5em;
display: none;
z-index: 9999;
}

#PochetteFilm{
padding: 3em;
height: 13em;
width: 10em;
padding-top: 4.7em;
padding-left: 6em;

}


#NomFilm, #Categorie, #sortieFilm, #rated, #scoreimbd, #realisateur, #acteurs,
#tempsFilm, #paysOrigine, #BoxOffice, #resume{
color : white;
padding: 1em;
}

.movieInfo{
text-align: left;
overflow: auto;
list-style:none;
}

#closeModal{
position: absolute;
top: 450px;
height: 3em;
right: 60em;
}

#clsbtn{
width: 130px;
background: #800000;
box-shadow: 0 0 2px black;
border-color: black;
border-radius: 10px;
transform: translate(-50%, -50%);
z-index: 9999;
padding: 10px;
text-align: center;
color: white;
}

#BestMovie{
position: absolute;
top: 180px;
left: 75px;
}


#resumeTitle{
position: absolute;
top: 300px;
left: 40px;
}

.BestmovieBox
{
background-color:white;
height: 16em;
border: 5px black solid;
border-bottom : hidden;
}


.BestNotemovies, .categorie1, .categorie2, .categorie3
{
height: 16em;
margin: -4px;
border: 5px black solid;
text-align: center;
padding-bottom : 1em;

}

#filmBestnote, #Categorie1, #Categorie2, #Categorie3{
font-size : 22px;
}

#boxBestFilm, #boxFilmMovies, #boxCatego1Movies, #boxCatego2Movies, #boxCatego3Movies{
display: flex;
justify-content: space-around;
align-items: center;
}



.BoxFilm{
border: 3px black solid;
height: 10em;
width: 7em;
}

img{
height: 10em;
width: 7em;
}


.BtnD
{
background:white;
width: 1;
height: 1;
border-top: 25px solid transparent;
border-left: 50px solid ;
border-bottom: 25px solid transparent;
border-right: transparent;
padding: 1.5px;
}

.BtnG
{
background:white;
width: 1;
height: 1;
border-top: 25px solid transparent;
border-right: 50px solid ;
border-bottom: 25px solid transparent;
padding: 1.5px;
}



